<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
    colors="true"
    defaultTestSuite="psr-rules">
    <testsuite name="psr-rules">
        <directory>./Psr1Rules/Test</directory>
    </testsuite>
</phpunit>
